@import "tailwindcss";

@font-face {
  font-family: "Modern Negra";
  src: url("/fonts/Modern Negra Demo.ttf") format("truetype");
}
@theme {
  --color-yellow: #e7d393;
  --color-white-100: #efefef;
  --font-sans: "Mona Sans", sans-serif;
  --font-modern-negra: "Modern Negra", sans-serif;
  --font-serif: "DM Serif Text", serif;
}

html,
body {
  width: 100%;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@utility text-gradient {
  background: linear-gradient(to bottom, #ffffff, #898989);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@utility radial-gradient {
  background: radial-gradient(
    circle at center,
    #434343 0%,
    #000 50%,
    transparent 100%
  );
}

@layer components {
  .noisy {
    @apply absolute inset-0 size-full bg-[url("/images/noise.png")];
  }

  #hero {
    .left-leaf {
      @apply absolute left-0 md:top-20 xl:top-36 2xl:top-52 md:bottom-auto -bottom-20 md:w-fit w-1/3;
    }

    .right-leaf {
      @apply absolute right-0 md:bottom-0 xl:top-0 2xl:top-12 top-1/2 md:w-fit w-24;
    }
  }

  #cocktails {
    @apply relative min-h-dvh w-full overflow-hidden;

    #c-left-leaf {
      @apply absolute left-0 md:bottom-0 md:top-auto -top-20 md:w-fit w-1/3;
    }

    #c-right-leaf {
      @apply absolute right-0 md:bottom-0 md:top-auto -top-20 md:w-fit w-1/3;
    }
  }
}
